Options +FollowSymLinks -MultiViews -Indexes
RewriteEngine on

#páginas#
RewriteRule ^home/?$ views/home.php
#Autenticación
RewriteRule ^register/?$ views/Auth/register.php
RewriteRule ^profile/?$ views/Auth/profile.php
#Usuarios
RewriteRule ^users/?$ views/Usuarios/users.php
RewriteRule ^users_info/?$ views/Usuarios/users_info.php
RewriteRule ^users_edit/?$ views/Usuarios/users_edit.php
#Clientes
RewriteRule ^clients/?$ views/Clientes/clients.php
RewriteRule ^clients_info/([^/]+)/?$ views/Clientes/clients_info.php
RewriteRule ^clients_edit/([^/]+)/?$ views/Clientes/clients_edit.php
#Productos
RewriteRule ^products/?$ views/products/index.php
RewriteRule ^products/create/?$ views/products/create.php
RewriteRule ^products/([^/]+)/?$ views/products/details.php
#Catalogo
RewriteRule ^brands/?$ views/Catalogo/brands.php
RewriteRule ^tags/?$ views/Catalogo/tags.php
RewriteRule ^categorys/?$ views/Catalogo/category.php
#Cupones
RewriteRule ^cupons/?$ views/Cupones/cupons.php
RewriteRule ^cupon_details/?$ views/Cupones/cupon_details.php
#Ordenes
RewriteRule ^orders/?$ views/Ordenes/orders.php
RewriteRule ^order_details/?$ views/Ordenes/order_details.php
#Controladores
RewriteRule ^auth?$ app/AuthController.php
RewriteRule ^user?$ app/UserController.php
RewriteRule ^level?$ app/LevelController.php
RewriteRule ^client?$ app/ClientController.php
RewriteRule ^address?$ app/AddressController.php
RewriteRule ^brand?$ app/BrandController.php
RewriteRule ^category?$ app/CategoryController.php
RewriteRule ^tag?$ app/TagController.php